__mocks__
.dependencygraph/**
.github/**
.husky/**
.vscode/**
.vscode-test/**
assets/images/src/*
node_modules
out/**
reports
src/**
.nvmrc
.prettierignore
.yarnrc
**/.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.config.js
*.conf.js
*error.log
*.lock
TODO.md
vsc-extension-quickstart.md